aside.notes-aside
  div.add-note
    input.add-btn(type='button' value='+' title='添加笔记')
    p.add-btn-name Add Note
  ul
    li.note-item
      h2 JavaScript
      p 前端工程师大部分都是自学的，JavaScript的大小写要拼对
      input(type='button' value='-' title='删除笔记')