.main-content {
  //font-family: '微软雅黑', 'Microsoft YaHei';
  .books-aside {
    width: 180px;
    position: absolute;
    left: 0;
    height: 100%;
    background: @content-color;
    transition: all 0.5s;
    .add-book {
      cursor: pointer;
      display: block;
      width: 100%;
      height: 60px;
      padding: 0 10px;
      .add-btn {
        position: absolute;
        top: 1px;
        left: 20px;
        line-height: 40px;
        width: 40px;
        height: 40px;
        font-size: 2em;
        background: rgba(255, 255, 255, 0);
        border: 0;
      }
      .add-btn-name {
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 30px;
        font-size: 1.2em;
        .user-select-none;
      }
    }
    .add-book:hover {
      transition: all 0.5s;
    }
    ul {
      .user-select-none;
      li {
        height: 60px;
        width: 100%;
        overflow: hidden;
        position: relative;
        border: 3px solid @content-color;
        border-left: solid 3px @main-color7;
        margin-top: 2px;
        line-height: 3em;
        font-size: 1.5em;
        text-align: center;
        //.book-item-name {
        //  position: absolute;
        //  top: 13px;
        //}
      }
      li:hover {
        background: @main-color0;
      }
      li.active {
        border: 3px solid @main-color4;
        border-left: solid 3px @main-color7;
        background: @main-color4;
      }
      li.active:hover {
        border: 3px solid @main-color0;
        border-left: solid 3px @main-color7;
        background: @main-color0;
      }
      li.selected {
        background: @main-color4;
        border: 3px solid @main-color7;
      }
      li.editable {
        background: #fff;
      }
    }
  }

  .notes-aside {
    transition: all 0.5s;
    position: absolute;
    background: @main-color4;
    left: 15em;
    width: 25em;
    height: 100%;
    div {
      width: 100%;
      height: 60px;
      overflow: hidden;
      cursor: pointer;
      .add-btn {
        position: absolute;
        top: 2px;
        left: 30px;
        line-height: 40px;
        width: 40px;
        height: 40px;
        font-size: 2em;
        background: rgba(255, 255, 255, 0);
        border: 0;
      }
      .add-btn-name {
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 70px;
        font-size: 1.2em;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }

    ul {
      .user-select-none;
      position: relative;
      width: 100%;
      li {
        height: 100px;
        width: auto;
        overflow: hidden;
        position: relative;
        margin-top: 0;
        margin-right: 12px;
        margin-bottom: 10px;
        margin-left: 12px;
        border: 1px solid @main-color4;
        background: @main-color1;
        .user-select-none;
        h2 {
          margin-top: 5px;
          margin-left: 5px;
          font-size: 1.5em;
        }
        p {
          position: absolute;
          left: 10px;
          top: 30px;
          color: #000;
          line-height: 1.5;
          font-size: 0.7em;
          width: 230px;
        }
        input {
          position: absolute;
          right: 15px;
          top: 5px;
          line-height: 40px;
          width: 40px;
          height: 40px;
          font-size: 5em;
          background: rgba(255, 255, 255, 0);
          border: 0 solid @main-color4;
        }
      }
      li:hover {
        border-color: @main-color7;
      }
      li.active {
        margin-right: 0;
        background: @content-color;
      }
      li.active:hover {
        border-color: @main-color7;
      }
      li.selected {
        background: @main-color4;
        border: 3px solid @main-color7;
      }
    }
  }

  #note-content {
    transition: all 0.5s;
    position: absolute;
    left: 40em;
    right: 0;
    height: 100%;
    color: @content-color;
    h1 {
      height: 70px;
      width: 100%;
      padding-left: 20px;
      border-bottom: 1px solid @main-color4;
      font-size: 32px;
      line-height: 64px;
      color: @main-color7;
      background: @content-color;
    }
    #note-time {
      width: 100%;
      height: 30px;
      background: @content-color;
      font-size: 12px;
      color: #000;
    }
    #note-details {
      width: 100%;
      height: 100%;
      font-size: 16px;
      border: 0 solid;
      background: @content-color;
    }
  }

  #bottom-area {
    position: fixed;
    bottom: 0px;
    width: 100%;
    //height: 80px;
    padding: 10px 20px;
    background-color: @main-color4;
    div {
      display: inline-block;
      height: 60px;
      width: 60px;
      background-color: #ababab;
      margin: 0 10px;
    }
  }
}